<form class="message-edit" data-bind="submit: postMessage">
<fieldset>
  <legend>
    <h3>New Message</h3>
  </legend>
  <!-- ko with: message -->
  <label>Date/Time <input name="datetime" data-bind="value: dateTime">
  </label>
  <label>From <input name="from" data-bind="value: from, hasFocus: $parent.fromDateHasFocus"></label>
  <label>To <input name="to" data-bind="value: to"></label>
  <label>Message
    <textarea name="message" data-bind="textInput: message">
    </textarea>
  </label>
  <!-- /ko -->
  <button type="submit">Post</button>
</fieldset>
</form>
