<form class="key-edit" id="key-edit">
  <fieldset>
    <legend>
      <h3>Connection Parameters</h3>
    </legend>
    <div class="key-input">
      <label for="key">Key</label>
      <input name="key" id="key" data-bind="value: key">
    </div>
    <div class="post-key-input">
      <label for="post-key">Post Key</label>
      <input name="post-key" id="post-key" data-bind="value: postKey">
    </div>
    <div class="partition-input">
      <label for="partition">Partition</label>
      <input name="partition" id="partition" data-bind="value: partition">
    </div>
  </fieldset>
</form>
